#modal {
    --head-height: 50px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}

#modal-buttons {
    display: flex;
    gap: 20px;
    background-color: var(--p-color);
    flex-grow: 0.2;
}

#btn-delete {
    font-size: 24px;
    background-color: var(--button-bg-1);
    color: var(--button-text-1);
    border-radius: solid;
    border-color: var(--button-text-1);
    flex-grow: 1;
    transform: 0.25s;
}

#btn-delete:hover {
    transform: scale(1.02);
    color: #646464;
    background-color: #c1c1c1;
}

#btn-delete:active {
    transform: scale(1.02);
}

#btn-save {
    font-size: 24px;
    background-color: var(--button-bg-2);
    color: var(--button-text-2);
    border-radius: solid;
    border-color: var(--button-text-2);
    flex-grow: 3;
    transform: 0.25s;
}

#btn-save:hover {
    transform: scale(1.02);
    color: #646464;
    background-color: #c1c1c1;
}

#btn-save:active {
    transform: scale(1.02);
}

#note-text {
    resize: none;
    font-size: 24px;
    flex-grow: 15;
}

#note-name {
    font-size: 42px;
    text-align: center;
    background-color: var(--p-color);
    color: var(--text-color);
    height: var(--head-height);
}

#back-btn {
    position: absolute;
    font-size: 24px;
    width: var(--head-height);
    height: var(--head-height);
}

